.hero-body {
    padding: 0 0 0 0;
    
}
.home {
    background-image: url("https://www.wundergrubs.com/uploads/7/3/8/6/73866685/background-images/439108873.jpg");
    .columns{
        opacity: 0.95;
    }
}
.side {
    padding-left: 0rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}