.dashbox {
  width: 76vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .buttonContainer {
    margin: auto;
    .button {
    margin: 15px 15px 15px 15px;
      border-radius: 50%;
      padding: 15px 15px;
      width: 200px;
      height: 200px;
      font-size: large;
    }
    button:hover{
        animation: bounce;
        animation-duration: 1s;
    }
    button:active{
        animation: heartBeat;
        animation-duration: 1.5s;
    }
  }
}
