/*
 * Dashboard css File
*/

.Dashboard {
    /* propertys here */
}
.wunderback-layout {
    background-image: url("https://www.wundergrubs.com/uploads/7/3/8/6/73866685/background-images/temp/73866685_9.jpg?641354282");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13rem;
    text-align: center;
    font-size: xx-large;
}